<form>
  {{numero}}
    <div class="row">
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="persona.nombre" name= "nombre"id="txtNombre">
    </div>
      <div class="row">
        <label>Apellido:</label>
        <input  type="text" [(ngModel)]="persona.apellido" name="apellido">
    </div>
      <div class="row">
        <label>Dni:</label>
        <input [type]="tipoControl" [class]="claseDni" [(ngModel)]="persona.dni" name="dni">
    </div>

<input type="button" (click)="mostrar()" (click)="cambiarClase()" value="Presione aqui">
</form>
<br><br>

<form>
<div class="row">
 <select  (input)=mostrarSeleccionado() id="opPersonas">
   <option *ngFor="let item of nombres" value={{item.dni}} >{{item.nombre}}-{{item.apellido}}</option>
 </select>
</div>
</form>
<br><br><br>
<form >
  <table>
    <tr><td>Nombre</td>
      <td>Apellido</td>
      <td>Dni</td>
      <td></td>
    </tr>
    <tr *ngFor="let item of nombres" >
      <td>
         <label *ngIf="modificar!=item.id">
            {{item.nombre}}
         </label>
          <input *ngIf="modificar==item.id" type="text" name="nombre{{item.dni}}" [(ngModel)]="item.nombre">
       </td>
       <td>
         <label *ngIf="modificar!=item.id">
            {{item.apellido}}
         </label>
          <input *ngIf="modificar==item.id" type="text" name="apellido{{item.dni}}" [(ngModel)]="item.apellido">
       </td>
       <td>
         <label *ngIf="modificar!=item.id">
            {{item.dni}}
         </label>
          <input *ngIf="modificar==item.id" type="text" name="dni{{item.dni}}" [(ngModel)]="item.dni">
       </td>
      <td><input *ngIf="modificar!=item.id" type="button" value="Modificar" (click)="modifica(item.id)">
      <input *ngIf="modificar==item.id" type="button" value="Guardar" (click)="noModifica()"></td>
    </tr>
 </table>
</form>
