.logoUser form label{
    float:left;
}
.body {
 background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG54VLe_ynixLd5HpxKW_JoW1z4PQWKLFVHw&usqp=CAU') no-repeat fixed center;
 background-size: cover;

 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: 'Montserrat', sans-serif;
 height: 100vh;
 
}