<h1 class="text-center">
    Juegos
    <button class="btn btn-outline-info text-center" (click)="open(agregar);">Agregar</button>
  </h1>
  
  <!-- Modal Agregar -->
  
  <ng-template #agregar let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Agregar Juego
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            formControlName="titulo"
            name="titulo"
          />
        </div>
        <div class="form-group">
          <label for="descripcion">descripcion</label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            formControlName="descripcion"
            name="descripcion"
          />
        </div>
        <div class="form-group">
          <label for="puntaje">puntaje</label>
          <input
            type="text"
            class="form-control"
            id="puntaje"
            formControlName="puntaje"
            name="puntaje"
          />
        </div>
        <div class="form-group">
          <label for="imagen">imagen</label>
          <input
            type="text"
            class="form-control"
            id="imagen"
            formControlName="imagen"
            name="imagen"
          />
        </div>
  
        <div class="form-group">
          <label for="anio">anio</label>
          <input
            type="text"
            class="form-control"
            id="anio"
            formControlName="anio"
            name="anio"
          />
        </div>
  
        <div class="form-group">
          <label for="trailer">trailer</label>
          <input
            type="text"
            class="form-control"
            id="trailer"
            formControlName="trailer"
            name="trailer"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="altaProducto()"
      >
        Agregar
      </button>
      <button
        type="button"
        class="btn btn-outline-primary close"
        (click)="modal.close('Save click'); limpiar()"
      >
        Cancelar
      </button>
    </div>
  </ng-template>
  
  <div class="container">
    <div *ngIf="producto" class="row">
      <div style="width: 18rem" *ngFor="let peli of producto | ordenar" class="col-5 m-2">
        <div class="card h-100">
          <img src="{{ peli.imagen }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ peli.titulo }}</h5>
            <p class="card-text">{{ peli.descripcion }}</p>
            <p class="card-text">{{ peli.anio }}</p>
            
            <!-- Modal Editar -->
  
            <ng-template #editar let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                  Editar Juego
                </h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="editForm">
                  <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input
                      type="text"
                      class="form-control"
                      id="titulo"
                      formControlName="titulo"
                      name="titulo"
                    />
                  </div>
                  <div class="form-group">
                    <label for="descripcion">descripcion</label>
                    <input
                      type="text"
                      class="form-control"
                      id="descripcion"
                      formControlName="descripcion"
                      name="descripcion"
                    />
                  </div>
                  <div class="form-group">
                    <label for="puntaje">puntaje</label>
                    <input
                      type="text"
                      class="form-control"
                      id="puntaje"
                      formControlName="puntaje"
                      name="puntaje"
                    />
                  </div>
                  <div class="form-group">
                    <label for="imagen">imagen</label>
                    <input
                      type="text"
                      class="form-control"
                      id="imagen"
                      formControlName="imagen"
                      name="imagen"
                    />
                  </div>
  
                  <div class="form-group">
                    <label for="anio">anio</label>
                    <input
                      type="text"
                      class="form-control"
                      id="anio"
                      formControlName="anio"
                      name="anio"
                    />
                  </div>
  
                  <div class="form-group">
                    <label for="trailer">trailer</label>
                    <input
                      type="text"
                      class="form-control"
                      id="trailer"
                      formControlName="trailer"
                      name="trailer"
                    />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-info"
                  (click)="editarProducto()"
                >
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary close"
                  (click)="modal.close('Save click'); limpiar()"
                >
                  Cancelar
                </button>
              </div>
            </ng-template>
  
            <!-- Modal Eliminar -->
  
            <ng-template #elimiar let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                  Eliminar Producto
                </h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>¿Esta seguro que desea eliminar {{ peli.titulo }}?</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-danger "
                  (click)="
                    modal.close('Save click'); onDeleteProducto(peli.id_producto)
                  "
                >
                  Eliminar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  (click)="modal.close('Save click')"
                >
                  Cancelar
                </button>
              </div>
            </ng-template>
          </div>
          <div class="card-footer mt-auto">
            <button class="btn btn-outline-danger" (click)="open(elimiar)">
              Eliminar
            </button>
            <button
              class="btn btn-outline-primary m-2"
              (click)="open(editar); seleccionarProducto(peli.id_producto)"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
